<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <img id="home" alt="" width="350px" class="center-img">
        <h2 id="text-content" class="text-center"></h2>
        <p class="text-center">
            <%= htmlWebpackPlugin.options.myPageHeader %>
        </p>

    </div>

</body>

</html>
